.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.liked {
  color: red;
}

.like {
  display: block;
  color: transparent;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  font-weight: bold;
}
