.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
  background-color: aqua;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}